/* ########################################################### */
/* ######### PRODUCT PAGE  ######################################## */


#product-content{

	background-color: rgb(227, 193, 255); 
	margin-top: 4%;
	margin-bottom:2%;
	padding: 2%;
	border: 5px solid #36b21a;
	border-radius: 25px;

	height: 100%;
	}

#product-content  img{
	width: 40%;
	border-radius:25px;
    }
	
#product-container {
	float:right;
	width: 50%;
	
	clear:bottom;
	margin-right: 1%;
	margin-left: 2%;

	font-size: 100%;
	padding: 2%;
	}
	
	
#product-desc{
	float:left;
	width: 40%;
	padding: 2%;


	
}	
	
#buy-container{
	float: left;
	width: 20%;
	margin-left: 15%;

	}

#product-item{

	float: left;
	
	margin-left: 10%;
	
	margin-bottom: 10%;

	padding: 6%;

	border: 3px solid #36b21a;
	border-radius: 25px;
	

}





#name{
	float: left;
}

.form-products {
  border-top: 1px solid #bdc0c3;
}
.ttu {
  text-transform: uppercase;
}
.field-product {
  height: 50px;
  font-weight: bold;
}

.field-product--input {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  padding: 0;
  border: none;
  font-size: 18px;
  text-align: center;
  color: #ed193f;
}

.field-product--label {
  height: 40px;
  line-height: 40px;
}

button {
  display: block;
  width: 200px;
  text-align: left;
  padding: 10px;
  background: none;
  border: none;
}