/* ########################################################### */
/* ######### PRODUCT PAGE  ######################################## */

#content-wrapper{
	border: 5px solid black;
	}

#product-content{
	background-color: rgb(227, 193, 255); 
	margin-top: 4%;
	margin-bottom:2%;
	padding: 2%;
	border: 5px solid #36b21a;
	border-radius: 25px;
	}

#product-content  img{
	width: 40%;
	border-radius:25px;
    }
	
#product-container {
	float:right;
	width: 50%;
	clear:bottom;
	margin-right: 1%;
	margin-left: 2%;
	border: 5px solid #36b21a;
	border-radius: 25px;
	font-size: 15.3px;
	padding: 2%;
	}
	
	
#product-desc{
	float:left;
	width: 40%;
	padding: 2%;
}	
	
#buy-container{
	float: right;
	margin-top: 25%;
	width: 40%;
	
}

#buy-container li{
	border-radius: 25px;
	font-family: calibri;
	font-size: 20px;
	list-style-type: none;
	padding: 4%;
	
}

#buy-container a{
	background-color:#36b21a;
	display:block;
	font-weight: bold;
	text-decoration:none;
	color: white;
	
	font-size: 20px;  /*  log-in / reg  text size */
	border-radius: 25px;
	padding: 5%;
	margin-top: 5%;
}

#buy-container a:hover{
	color: #b24fff;
}