/* CSS Document */

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;

*/



body{
	background-color:#b24fff;
	font-family:Arial, Helvetica, sans-serif;
}

h1, h2, h3{
	font-family:'Open Sans Condensed', Arial, Helvetica, sans-serif;
	color: black;
	margin-left: 25%;
}


#wrapper{
	width:70%; 
	
	margin: 2% auto;
	background-color:#FFF;
	border-radius: 25px;
	padding:0 2%;
}

#top{
	padding-right: 3.1%;
	
	}


/* ######### LOGO ###################################### */


#logo{
	float:left;
	margin:3% 0;
	
}


/* ######### LOG IN  ##################################### */
#login{
		position: relative;
		float:right;
		margin-left:3%;
		margin-top:3%;
		width: 30%;
		}
		
#login ul a{

}

#login a:hover{
	color:#b24fff;
}


#loginlink a{
	background-color:#36b21a;
	display:block;
	font-weight: bold;
	text-decoration:none;
	color: white;
	text-transform:uppercase;
	font-size: 20px;  /*  log-in / reg  text size */
	border-radius: 25px;
	padding: 8%;
	float: left;
}

#reglink a{
	
	background-color:#36b21a;
	display:block;
	font-weight: bold;
	text-decoration:none;
	color: white;
	text-transform:uppercase;
	font-size: 20px;  /*  log-in / reg  text size */
	border-radius: 25px;
	padding: 8%;
	float: right;
}


/* ######### SOCIAL MEDIA  ######################################## */

#social-media{
	
	
	margin-left: 40%;
	
	}

#social-media ul li{ 
	display:inline;
	list-style-type:none;
	margin: 10px;
	
}


/* ######### PHONE & ADDRESS  ######################################## */

#phone_addr{
	position: relative;
	float: right;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 8%;
	clear: right;
}


/* ################## MENU ######################################## */

/* menu container */
#topnav {
	list-style:none;
	padding-bottom: 4%;
	border-radius: 25px;
	clear:both;
}

/* whole menu */
#topnav ul {
  	width: auto;
  	list-style-type: none;
  	margin:0;
	padding:0;
	
}

/* Menu boxes */
#topnav ul li{
	display:inline;
	list-style-type:none;
	margin-right: 1.1%;
	margin-left: 1.1%;
	font-size:14px;
	color: white;
	background-color:#36b21a;
	border-radius: 20px;
	width: 22.7%;

	float:left;
	display:block;
	position:relative;
	z-index:999;
}



/* menu text */
#topnav li a{
	display:block;
	
	font-weight: bold;
	line-height: 80%;
	text-decoration:none;
	color: white;
	text-transform:uppercase;
	font-size: 25px;  /*  Menu text size */
}


/*  'about us' sub-menu */
#topnav > ul li.has-sub:hover ul {
  display: block;
  color: #b24fff;
}


/*  'about us' sub-menu */
#topnav > ul li.has-sub ul {
  display: none;
  width: 19%;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #fff;
}


/*  'about us' sub-menu */
#topnav > ul li.has-sub ul li {
  display: block;
}


/* Padding around menu text */
#topnav > ul li a {
  padding: 4% 8% 4% 8%;
  }


/* menu font colour */ 
#topnav a:visited{
	color:white;
}


/* Menu text colour when mouse is hovering over it */
#topnav a:hover{
	color:#b24fff;
}




/* ##################  IMAGE SLIDER ######################################## */


#jssor_1{
	position: relative; 
	width: 100%;
	height: 350px;
	border-radius: 25px;
	overflow: hidden; 
	visibility: hidden;
}

[data-u="slides"]{
	width: 100%;
	height: 350px;
	cursor: default; 
	position: relative; 
	overflow: hidden;
}



/* ################## BODY ######################################## */

#content{
	border-radius:20px;
	width:100%;
}

#content p{
	font-size:12px;
	margin-left: 35%;
}

#content h2{
	color:#A95400;
}



/* ##################  FOOTER / COPYRIGHT  ######################################## */
#footer{
	clear:both;
	
	padding:1% 0;
}

#footer p{
	text-align:center;
	font-size:14px;
	font-weight:bold;
}



/* ##################################################### */
/* ######### LOG - IN PAGE  ######################################## */


#login-form{
	margin-left:25%;
	}

#login-form ol li{
	list-style-type:none;
}

#login-form p{
	margin-left: 10%;
}


input, textarea{
	display:block;
	width:350px;
	border:1px #000 solid;
	padding:5px;	
}

textarea{
	height:150px;
}



input:focus, textarea:focus{
	background-color:#FFD9B3;
}

label{
	display:block;
	margin-top:10px;
	
}

.submit{
	width:100px;
	margin-top:15px;
}



/* ########################################################### */
/* ######### CONTACT  ######################################## */


#contact{
	margin-left: 35%;
	
}


#contact p {
	margin-left: 20%;
}



/* ###########################  PRODUCTS GALLERY ############################ */


    .wrap {
      overflow: hidden;
      margin: 10px;
    }
	
    .box {
      float: left;
      position: relative;
      width: 20%;
      padding-bottom: 20%;
    }
	
    .boxInner {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      overflow: hidden;
    }
	
    .boxInner img {
      width: 100%;
    }
	
	.boxInner img:hover{
		transform: scale(1.1);
	}
	
    .boxInner .titleBox {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: -50px;
      background: #000;
      background: rgba(0, 0, 0, 0.5);
      color: #FFF;
      padding: 10px;
      text-align: center;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
      margin-bottom: 0;
    }
    @media only screen and (max-width : 480px) {
      /* Smartphone view: 1 tile */
      .box {
        width: 100%;
        padding-bottom: 100%;
      }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
      .box {
        width: 50%;
        padding-bottom: 50%;
      }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
      .box {
        width: 33.3%;
        padding-bottom: 33.3%;
      }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
      /* Medium desktop: 4 tiles */
      .box {
        width: 25%;
        padding-bottom: 25%;
      }
    }
 
  <!-- Enable media queries for old IE -->
  <!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->


  
/* ########################################################### */
/* ######### PRODUCT PAGE  ######################################## */

#content-wrapper{
	border: 5px solid black;
	}

#product-content{
	background-color: rgb(227, 193, 255); 
	margin-top: 4%;
	margin-bottom:2%;
	padding: 2%;
	border: 5px solid #36b21a;
	border-radius: 15px;
	}

#product_content  img{
	margin-top: 10%;
	float: left;
	}
	
#product-container {
	float:right;
	width: 50%;
	margin-right: 1%;
	margin-left: 3%;
	border: 2px solid #36b21a;
	border-radius: 15px;
	font-size: 18px;
	padding: 2%;
	}
	
	
#product-desc{
	float:left;
	width: 52%;
	
	padding: 2%;
	
}	
	
#buy-container{
	float: right;
	margin-top: 25%;
	width: 40%;
	
}

#buy-container li{
	border: 1px solid #36b21a;
	border-radius: 15px;
	font-family: calibri;
	font-size: 25px;
	
	list-style-type: none;
	padding: 5%;
	
}

#buy-container a{
	background-color:#36b21a;
	display:block;
	font-weight: bold;
	text-decoration:none;
	color: white;
	
	font-size: 20px;  /*  log-in / reg  text size */
	border-radius: 25px;
	padding: 5%;
	margin-top: 5%;
}

#buy-container a:hover{
	color: #b24fff;
}



	
	
	
	
	
	
	