/* CSS Document */

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;

*/



body{
	background-color:#b24fff;
	font-family:Arial, Helvetica, sans-serif;
}

h1, h2, h3{
	font-family:'Open Sans Condensed', Arial, Helvetica, sans-serif;
	color: black;
	margin-left: 25%;
}


#wrapper{
	width:70%; 
	margin: 2% auto;
	background-color:#FFF;
	border-radius: 25px;
	padding:0 2%;
}

#top{
	padding-right: 3.1%;
	
	}


/* ######### LOGO ###################################### */


#logo{
	float:left;
	margin:3% 0;
}


/* ######### LOG IN  ##################################### */
#login{
		float:right;
		margin-left:3%;
		margin-top:3%;
		width: 20%;
		}
		
#login ul a{
	background-color:#36b21a;
	display:block;
	font-weight: bold;
	text-decoration:none;
	color: white;
	text-transform:uppercase;
	font-size: 20px;  /*  log-in / reg  text size */
	border-radius: 25px;
	padding-left: 8%;
}

#login a:hover{
	color:green;
}


/* ######### SOCIAL MEDIA  ######################################## */

#social-media{
	float:right;
	clear: both;
	margin: 1%;
	background-color: ;
}

#social-media ul li{ 
	display:inline;
	list-style-type:none;
	
}

#social-media p{
	text-align:right;
}


/* ######### PHONE & ADDRESS  ######################################## */

#phone_addr{
	float: left;
	margin-top: 1%;
	margin-left: 5%;
}

#phone_addr p{
	 padding: 2%;
	 font-weight: bold;
	}


/* ################## MENU ######################################## */

/* menu container */
#topnav {
	list-style:none;
	padding-bottom: 4%;
	border-radius: 25px;
	clear:both;
}

/* whole menu */
#topnav ul {
  	width: auto;
  	list-style-type: none;
  	margin:0;
	padding:0;
	
}

/* Menu boxes */
#topnav ul li{
	display:inline;
	list-style-type:none;
	margin-right: 1.1%;
	margin-left: 1.1%;
	font-size:14px;
	color: white;
	background-color:#36b21a;
	border-radius: 20px;
	width: 22.7%;

	float:left;
	display:block;
	position:relative;
	z-index:999;
}



/* menu text */
#topnav li a{
	display:block;
	
	font-weight: bold;
	line-height: 80%;
	text-decoration:none;
	color: white;
	text-transform:uppercase;
	font-size: 25px;  /*  Menu text size */
}


/*  'about us' sub-menu */
#topnav > ul li.has-sub:hover ul {
  display: block;
  color: blue;
}


/*  'about us' sub-menu */
#topnav > ul li.has-sub ul {
  display: none;
  width: 19%;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #fff;
}


/*  'about us' sub-menu */
#topnav > ul li.has-sub ul li {
  display: block;
}


/* Padding around menu text */
#topnav > ul li a {
  padding: 4% 8% 4% 8%;
  }


/* menu font colour */ 
#topnav a:visited{
	color:white;
}


/* Menu text colour when mouse is hovering over it */
#topnav a:hover{
	color:green;
}




/* ##################  IMAGE SLIDER ######################################## */


#jssor_1{
	width: 100%;
	height: 350px;
	border-radius: 25px;
}

[data-u="slides"]{
	width: 100%;
	height: 350px;
}



/* ################## BODY ######################################## */

#content{
	border-radius:20px;
	width:100%;
}

#content p{
	font-size:12px;
	margin-left: 35%;
}

#content h2{
	color:#A95400;
}



/* ##################  FOOTER / COPYRIGHT  ######################################## */
#footer{
	clear:both;
	border-top:.1% #666 solid;
	padding:1% 0;
}

#footer p{
	text-align:center;
	font-size:14px;
	font-weight:bold;
}



/* ##################################################### */
/* ######### LOG - IN PAGE  ######################################## */


#login-form{
	margin-left:25%;
	}

#login-form ol li{
	list-style-type:none;
}

#login-form p{
	margin-left: 10%;
}


input, textarea{
	display:block;
	width:350px;
	border:1px #000 solid;
	padding:5px;	
}

textarea{
	height:150px;
}



input:focus, textarea:focus{
	background-color:#FFD9B3;
}

label{
	display:block;
	margin-top:10px;
	
}

.submit{
	width:100px;
	margin-top:15px;
}


